@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

body {
  margin: 0;
  font-family:
    'Open Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.jumbotron {
  height: 80vh !important;
  background-image: url(./images/hp-omen.jpg);
  background-size: cover;
  background-position: bottom right;
  color: #fff;
}

.big-title {
  font-size: 180px;
  font-weight: 700;
}

.small-title {
  font-size: 80px;
  font-weight: 600;
  
}

.jumbo-text {
  font-size: 34px;
  letter-spacing: 10px;
  color: #ccc;
}

.fixed-top .navbar-brand {
  color: #fff !important;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 25px;
}

.fixed-top .nav-link {
  color: #ccc !important;
  text-transform: uppercase;
  font-weight: 600;
}

/* Mobile screen */
@media screen and (max-width:576px) {
  .jumbotron {
    height: 40vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .big-title {
    font-size: 60px;
    font-weight: 700;
  }

  .small-title {
    font-size: 20px;
    font-weight: 600;
  }

  .jumbo-text {
    font-size: 14px;
    letter-spacing: 5px;
  }
}

/* Tablets/Mobile landscape */
@media screen and (max-width:900px) and (min-width: 601px) {
.jumbotron {
    height: 450px !important;
  }

.big-title {
    font-size: 100px;
    font-weight: 700;
  }

.small-title {
    font-size: 30px;
    font-weight: 600;
  }
 }